In [1]:
using CSV, DataFrames

In [2]:
root = dirname(@__FILE__)
inputScores = joinpath(root, "ISI_Journal_Citation_Report_2024_export.csv")

"/home/lali/TITAN-ROG-sync/julia/ISI/ISI_Journal_Citation_Report_2024_export.csv"

In [3]:
Scores = CSV.read(inputScores, DataFrame)
eltype.(eachcol(Scores))

4-element Vector{DataType}:
 String
 String15
 Float64
 Float64

In [5]:
Scores[1, :]

DataFrameRow
 Row │ JournalFullName            ISSN       2024IF   2024AI
     │ String                     String15   Float64  Float64
─────┼────────────────────────────────────────────────────────
   1 │ 20 Et 21-Revue D Histoire  2649-664X      0.0    0.018

In [6]:
for c in eachcol(Scores)
    if typeof(c) == Array{String,1}
        c .= uppercase.(c)
    end
end

In [7]:
Scores[1, :]

DataFrameRow
 Row │ JournalFullName            ISSN       2024IF   2024AI
     │ String                     String15   Float64  Float64
─────┼────────────────────────────────────────────────────────
   1 │ 20 ET 21-REVUE D HISTOIRE  2649-664X      0.0    0.018

In [8]:
inputNames = joinpath(root, "ISI_JCR_2025_NameEquiv.csv")

"/home/lali/TITAN-ROG-sync/julia/ISI/ISI_JCR_2025_NameEquiv.csv"

In [9]:
Names = CSV.read(inputNames, DataFrame)
eltype.(eachcol(Names))

7-element Vector{Type}:
 String31
 String
 String31
 Union{Missing, String1}
 Union{Missing, String1}
 Union{Missing, String1}
 Union{Missing, String1}

In [10]:
Scores[1234,:]

DataFrameRow
  Row │ JournalFullName  ISSN       2024IF   2024AI
      │ String           String15   Float64  Float64
──────┼──────────────────────────────────────────────
 1234 │ ANIMAL BIOLOGY   1570-7555      0.9    0.251

In [11]:
Names[1234,:]

DataFrameRow
  Row │ Title20              Title                              Country   SCIE ⋯
      │ String31             String                             String31  Stri ⋯
──────┼─────────────────────────────────────────────────────────────────────────
 1234 │ ANIM BIODIV CONSERV  ANIMAL BIODIVERSITY AND CONSERVA…  SPAIN     X    ⋯
                                                               4 columns omitted

In [12]:
#Scores = select(Scores, Not([:"Column5"]));

In [13]:
rename!(Names,:"Title20" => :"Journal")
rename!(Names,:"Title" => :"JournalFullName")
Names = select(Names, Not([:"Country", :"SCIE", :"SSCI", :"AHCI", :"ESCI"]));

In [14]:
Scores[1234,:]

DataFrameRow
  Row │ JournalFullName  ISSN       2024IF   2024AI
      │ String           String15   Float64  Float64
──────┼──────────────────────────────────────────────
 1234 │ ANIMAL BIOLOGY   1570-7555      0.9    0.251

In [15]:
Names[1234,:]

DataFrameRow
  Row │ Journal              JournalFullName
      │ String31             String
──────┼────────────────────────────────────────────────────────
 1234 │ ANIM BIODIV CONSERV  ANIMAL BIODIVERSITY AND CONSERVA…

In [16]:
Scores_new = outerjoin(Scores, Names; on=:"JournalFullName", makeunique=true);

In [17]:
select!(Scores_new, :"Journal", :"JournalFullName", :"ISSN", :"2024IF", :"2024AI");

In [18]:
root = dirname(@__FILE__)
outputScores = joinpath(root, "ISI_Journal_Citation_Report_2024_exportPLUS.csv")
CSV.write(outputScores, Scores_new; delim='\t')

"/home/lali/TITAN-ROG-sync/julia/ISI/ISI_Journal_Citation_Report_2024_exportPLUS.csv"