In [46]:
using CSV, DataFrames

In [47]:
root = dirname(@__FILE__)
inputScores = joinpath(root, "ISI_Journal_Citation_Report_2023_export.csv")

"/home/lali/TITAN-ROG-sync/julia/ISI/ISI_Journal_Citation_Report_2023_export.csv"

In [48]:
Scores = CSV.read(inputScores, DataFrame)
eltype.(eachcol(Scores))

4-element Vector{DataType}:
 String
 String15
 Float64
 Float64

In [49]:
inputNames = joinpath(root, "ISI_JCR_2024_NameEquiv.csv")

"/home/lali/TITAN-ROG-sync/julia/ISI/ISI_JCR_2024_NameEquiv.csv"

In [50]:
Names = CSV.read(inputNames, DataFrame)
eltype.(eachcol(Names))

7-element Vector{Type}:
 String31
 String
 String15
 Union{Missing, String1}
 Union{Missing, String1}
 Union{Missing, String1}
 Union{Missing, String1}

In [51]:
Scores[1234,:]

DataFrameRow
  Row │ JournalFullName           ISSN       2023IF   2023AI
      │ String                    String15   Float64  Float64
──────┼───────────────────────────────────────────────────────
 1234 │ ANNALES BOTANICI FENNICI  0003-3847      0.6    0.158

In [52]:
Names[1234,:]

DataFrameRow
  Row │ Title20              Title                              Country    SCI ⋯
      │ String31             String                             String15   Str ⋯
──────┼─────────────────────────────────────────────────────────────────────────
 1234 │ ANN ACAD MED SINGAP  ANNALS ACADEMY OF MEDICINE SINGA…  SINGAPORE  X   ⋯
                                                               4 columns omitted

In [53]:
#Scores = select(Scores, Not([:"Column5"]));

In [54]:
rename!(Names,:"Title20" => :"Journal")
rename!(Names,:"Title" => :"JournalFullName")
Names = select(Names, Not([:"Country", :"SCIE", :"SSCI", :"AHCI", :"ESCI"]));

In [55]:
Scores[1234,:]

DataFrameRow
  Row │ JournalFullName           ISSN       2023IF   2023AI
      │ String                    String15   Float64  Float64
──────┼───────────────────────────────────────────────────────
 1234 │ ANNALES BOTANICI FENNICI  0003-3847      0.6    0.158

In [56]:
Names[1234,:]

DataFrameRow
  Row │ Journal              JournalFullName
      │ String31             String
──────┼────────────────────────────────────────────────────────
 1234 │ ANN ACAD MED SINGAP  ANNALS ACADEMY OF MEDICINE SINGA…

In [57]:
Scores_new = outerjoin(Scores, Names; on=:"JournalFullName", makeunique=true);

In [58]:
select!(Scores_new, :"Journal", :"JournalFullName", :"ISSN", :"2023IF", :"2023AI");

In [59]:
root = dirname(@__FILE__)
outputScores = joinpath(root, "ISI_Journal_Citation_Report_2023_exportPLUS.csv")
CSV.write(outputScores, Scores_new; delim='\t')

"/home/lali/TITAN-ROG-sync/julia/ISI/ISI_Journal_Citation_Report_2023_exportPLUS.csv"