In [1]:
using CSV, DataFrames

In [2]:
root = dirname(@__FILE__)
#inputAIS = joinpath(root, "AI_factor_full.txt")
inputAIS = joinpath(root, "AI_factor_full_1997-2022.txt")

"/home/lali/TITAN-ROG-sync/julia/ISI/AI_factor_full_1997-2022.txt"

In [3]:
AIS = CSV.read(inputAIS, DataFrame)
eltype.(eachcol(AIS));

In [4]:
#VSCodeServer.vscodedisplay(AIS)

In [5]:
root = dirname(@__FILE__)
#inputISI = joinpath(root, "IF_factor_full.txt")
inputISI = joinpath(root, "IF_factor_full_1997-2022.txt")

"/home/lali/TITAN-ROG-sync/julia/ISI/IF_factor_full_1997-2022.txt"

In [6]:
ISI = CSV.read(inputISI, DataFrame)
eltype.(eachcol(ISI));

In [7]:
#VSCodeServer.vscodedisplay(ISI)

In [9]:
AIS[1, [1, 2, 25, 26, 27]]

DataFrameRow
 Row │ Journal           1997     2020     2021     2022
     │ String31          Float64  Float64  Float64  Float64
─────┼──────────────────────────────────────────────────────
   1 │ ANNU REV BIOCHEM   20.985   12.328   12.444   12.444

In [10]:
ISI[1, [1, 2, 25, 26, 27]]

DataFrameRow
 Row │ Journal           1997     2020     2021     2022
     │ String31          Float64  Float64  Float64  Float64
─────┼──────────────────────────────────────────────────────
   1 │ ANNU REV BIOCHEM   40.782   23.643   27.258   27.258

In [11]:
root = dirname(@__FILE__)
inputAIS = joinpath(root, "ISI_Journal_Citation_Report_2022_prepared.csv")
AIS2022 = CSV.read(inputAIS, DataFrame; header=true, missingstring=["Not Available",""]);

In [12]:
AIS2022."2022AI" = replace(AIS2022."2022AI", missing => 0)
AIS2022."2022IF" = replace(AIS2022."2022IF", missing => 0)
eltype.(eachcol(AIS2022))

6-element Vector{DataType}:
 String
 String31
 String15
 String15
 Float64
 Float64

In [13]:
ISI2022 = AIS2022[!, [1, 2, 3, 4, 5]]
AIS2022 = AIS2022[!, [1, 2, 3, 4, 6]]

rename!(AIS2022,:"2022AI" => :"2022")
AIS2022."2022" = replace(AIS2022."2022", "N/A" => 0)
AIS2022[876, :]

DataFrameRow
 Row │ JournalFullName                    Journal           ISSN       eISSN   ⋯
     │ String                             String31          String15   String1 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
 876 │ APPLIED MATHEMATICS AND COMPUTAT…  APPL MATH COMPUT  0096-3003  1873-56 ⋯
                                                               2 columns omitted

In [14]:
rename!(ISI2022,:"2022IF" => :"2022")
ISI2022."2022" = replace(ISI2022."2022", "N/A" => 0)
ISI2022[876, :]

DataFrameRow
 Row │ JournalFullName                    Journal           ISSN       eISSN   ⋯
     │ String                             String31          String15   String1 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
 876 │ APPLIED MATHEMATICS AND COMPUTAT…  APPL MATH COMPUT  0096-3003  1873-56 ⋯
                                                               2 columns omitted

In [15]:
AIS[1, [1, 2, 23, 24, 25, 26, 27]]

DataFrameRow
 Row │ Journal           1997     2018     2019     2020     2021     2022
     │ String31          Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │ ANNU REV BIOCHEM   20.985   12.193   11.564   12.328   12.444   12.444

In [19]:
AIS2022[876, [1, 2, 3, 4, 5]]

DataFrameRow
 Row │ JournalFullName                    Journal           ISSN       eISSN   ⋯
     │ String                             String31          String15   String1 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
 876 │ APPLIED MATHEMATICS AND COMPUTAT…  APPL MATH COMPUT  0096-3003  1873-56 ⋯
                                                               2 columns omitted

In [20]:
AIS = select(AIS, Not([:"2022"]))
AIS[1, :]

DataFrameRow
 Row │ Journal           1997     1998     1999     2000     2001     2002     ⋯
     │ String31          Float64  Float64  Float64  Float64  Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ ANNU REV BIOCHEM   20.985   20.985   20.985   20.985   20.985   20.985  ⋯
                                                              19 columns omitted

In [22]:
#AIS = leftjoin(AIS, AIS2022; on=:"Journal", makeunique=true)
AIS_new = outerjoin(AIS, AIS2022; on=:"Journal", makeunique=true);1

In [ ]:
AIS."2022" = replace(AIS."2022", missing => 0)
insertcols!(AIS, :"2023" => AIS."2022")

In [ ]:
#BRING new columns
AIS = AIS[!, [1, 27, 28, 29, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 30, 31]]
AIS[1, :]

In [ ]:
ISI = select(ISI, Not([:"2022"]));
ISI[1, :]

In [ ]:
ISI = leftjoin(ISI, ISI2022; on=:"Journal", makeunique=true)
ISI."2022" = replace(ISI."2022", missing => 0)
insertcols!(ISI, :"2023" => ISI."2022")
#BRING new columns
ISI = ISI[!, [1, 27, 28, 29, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 30, 31]]
ISI[1, :]

In [ ]:
root = dirname(@__FILE__)
outputAIS = joinpath(root, "AI_factor_full_1997-2023_plus.txt")
CSV.write(outputAIS, AIS; delim='\t')
outputISI = joinpath(root, "IF_factor_full_1997-2023_plus.txt")
CSV.write(outputISI, ISI; delim='\t')