In [1]:
my_example_vector = [1, 2, 3, 4, 5]
my_example_matrix = [[1 2 3]
                    [4 5 6]
                    [7 8 9]]

3×3 Matrix{Int64}:
 1  2  3
 4  5  6
 7  8  9

In [4]:
my_example_matrix[2, 1]

4

In [5]:
my_example_matrix[2, :]

3-element Vector{Int64}:
 4
 5
 6

In [6]:
my_example_matrix[3, :] = [17, 16, 15]
my_example_matrix

3×3 Matrix{Int64}:
  1   2   3
  4   5   6
 17  16  15

In [7]:
map(x -> 3x, my_example_matrix)

3×3 Matrix{Int64}:
  3   6   9
 12  15  18
 51  48  45

In [8]:
simple_vector = [1, 2, 3]
empty_vector = Int64[]
for i in simple_vector
push!(empty_vector, i + 1)
end
empty_vector

3-element Vector{Int64}:
 2
 3
 4

In [9]:
root = dirname(@__FILE__)

"/home/lali/TITAN-ROG-sync/julia/2021DataSci"

In [10]:
joinpath(root, "Progs_book_3.ipynb")

"/home/lali/TITAN-ROG-sync/julia/2021DataSci/Progs_book_3.ipynb"

In [11]:
using Dates
Date(1972, 6, 2)

1972-06-02

In [15]:
DateTime(Year(1987), Month(9), Day(13), Hour(21), Minute(21))

1987-09-13T21:21:00

In [16]:
my_birthday = Date(1972, 6, 2)

1972-06-02

In [17]:
year(my_birthday)

1972

In [18]:
dayname(my_birthday)

"Friday"

In [19]:
dayofweekofmonth(my_birthday)

1

In [20]:
today() - my_birthday

18053 days

In [21]:
using Random: rand, randn, seed!

In [22]:
rand(3)

3-element Vector{Float64}:
 0.42403719746181645
 0.3177299963077773
 0.836226714069624

In [24]:
rand(1.0:0.1:10.0, 3)

3-element Vector{Float64}:
 1.8
 7.7
 2.1

In [25]:
using DataFrames

In [27]:
function grades_2020()
    name = ["Sally", "Bob", "Alice", "Hank"]
    grade_2020 = [1, 5, 8.5, 4]
    DataFrame(; name, grade_2020)
end
df = grades_2020()

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [28]:
df = DataFrame(name = ["Malice"], grade_2020 = ["10"])

1×2 DataFrame
 Row │ name    grade_2020
     │ String  String
─────┼────────────────────
   1 │ Malice  10

In [29]:
function grades_2020(names::Vector{Int})
    df = grades_2020()
    df[names, :]
end
df = grades_2020([3, 4])

2×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Alice          8.5
   2 │ Hank           4.0

In [30]:
function names_grades1()
    df = grades_2020()
    df.grade_2020
end
names_grades1()

4-element Vector{Float64}:
 1.0
 5.0
 8.5
 4.0

In [31]:
function names_grades2()
    df = grades_2020()
    df[!, :grade_2020]
end
names_grades2()

4-element Vector{Float64}:
 1.0
 5.0
 8.5
 4.0

In [1]:
[(println(i, " ", j); (i,j)) for i=1:5, j=1:5]

1 1
2 1
3 1
4 1
5 1
1 2
2 2
3 2
4 2
5 2
1 3
2 3
3 3
4 3
5 3
1 4
2 4
3 4
4 4
5 4
1 5
2 5
3 5
4 5
5 5

5×5 Matrix{Tuple{Int64, Int64}}:
 (1, 1)  (1, 2)  (1, 3)  (1, 4)  (1, 5)
 (2, 1)  (2, 2)  (2, 3)  (2, 4)  (2, 5)
 (3, 1)  (3, 2)  (3, 3)  (3, 4)  (3, 5)
 (4, 1)  (4, 2)  (4, 3)  (4, 4)  (4, 5)
 (5, 1)  (5, 2)  (5, 3)  (5, 4)  (5, 5)

In [2]:
for i=1:5, j=1:5 
    println(i, " ", j)
end

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5